<div class="bd usage">
    <div class="usage-link-wrapper">
        <div class="hd l-left">
            <ul class="link-list">
                <li class="link-item">
                    <a class="usage-link" href=""><i></i>问题反馈</a>
                </li>
                <li class="link-item">
                    <a class="usage-link" href=""><i></i>组件开发规范</a>
                </li>
                <li class="link-item">
                    <a class="usage-link" href=""><i></i>gallery文档规范</a>
                </li>
                <li class="link-item">
                    <a class="usage-link" href=""><i></i>讨论组</a>
                </li>
                <li class="link-item">
                    <a class="usage-link" href=""><i></i>源码</a>
                </li>
            </ul>
        </div>
        <div class="bd l-right">
            <ul class="link-list l-left">
                <li class="link-item">
                    <a class="usage-link" href=""><i></i>初始gallery</a>
                </li>
                <li class="link-item">
                    <a class="usage-link" href=""><i></i>如何使用gallery组件</a>
                </li>
                <li class="link-item">
                    <a class="usage-link" href=""><i></i>gallery自动化在线工具</a>
                </li>
                <li class="split"></li>
                <li class="link-item">
                    <a class="usage-link" href=""><i></i>gallery自动化本地工具下载</a>
                </li>
                <li class="link-item">
                    <a class="usage-link" href=""><i></i>源码</a>
                </li>
            </ul>
            <div class="contact l-left">
                <p>联系人</p>
                <ul class="contact-list">
                    <li class="link-item"><a class="usage-link" href="#"><i></i>某某</a></li>
                    <li class="link-item"><a class="usage-link" href="#"><i></i>某某</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>
<div class="ft copyright">
    <p class="l-right">Copyright 2010~2013，K</p>
</div>